@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


.main{
    padding-top: 4.4rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.main__title{
    text-align: center;
    padding: 2rem;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
    font-size: 45px;
    text-shadow: -2px 4px 5px rgba(14,107,255,0.8);
}

@media (max-width: 600px) {
    .main__title{
        font-size: 30px;
    }
}   