.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box__main{
    border-radius: 0.5rem;
    width: 80%;
    padding: 1rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgb(0, 0, 0);
}

.main__title{
    color: greenyellow;
    text-transform:uppercase;
    background-color: black;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

