.mensaje__orden{
    margin-bottom: 3rem;
    padding: 1rem;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.orden__completada{
    color: rgb(0, 0, 0);
    padding: 1rem;
    background-color: rgba(0, 255, 64, 0.897);
    margin-top: 1rem ;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.parrafo__recordatorio{
    padding: 1rem;
    margin-top: 1rem ;
    margin-bottom: 1rem;
    background-color: rgb(255, 23, 23);
    border-radius: 0.5rem;
    color: black;
}

.image_check{
    border-radius:1rem;
}


@media (max-width: 600px) {
    .orden__completada{
        font-size: 20px;
    }

    
    .parrafo__recordatorio{
        font-size:18px;
    }

    .image_check{
        width: 80%;
    }
}