.count__box{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.count__buttons{
    background-color: inherit;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}