.count_box{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.count__buttons{
    border-style: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: black;
    color: aliceblue;
    text-align: center;
    text-size-adjust: 20px;
}

.count__buttons:hover{
    background-color: rgb(27, 26, 26);
}