@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.nav_list{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav__selectors{
    text-decoration: none;
    color: black;
    
}


.img_nav{
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
}