@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.nav_list{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav__selectors{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.img_nav{
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
}